# KiCad temporary files
*.kicad_prl
*.lck
~*.kicad_sch
~*.kicad_pcb

# Backup files
*.bak
*.bck
*.zip

# Cache files
fp-info-cache
fp-lib-cache

# Reports (optional)

# OS files
.DS_Store
Thumbs.db
desktop.ini

# Python
__pycache__/
*.py[cod]
*$py.class

#gerber files
*.gbr
*.gbrjob
kicad_to_llm.py
